.layui-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    background-color: #eee
}

.footer {
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}

.footer-demo {
    height: auto;
    padding: 15px 0;
    line-height: 26px;
}

.main-body{
    padding-top: 25px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
@media (min-width:240px){
    .main-body{
        width:240px
    }
}
@media (min-width:360px){
    .main-body{
        width:360px
    }
}
@media (min-width:768px){
    .main-body{
        width:750px
    }
}

@media (min-width:992px){
    .main-body{
        width:970px
    }
}

@media (min-width:1200px){
    .main-body{
        width:1170px
    }
}
